<div class="row">
<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
    
    <%= form_for @user, url: user_profile_path  do |f| %>

              <h4><%= @user.name %></h4> 
               
            </div>
            <div class="panel-body">
                <p><%= @user.email %></p> 
            </div>
        <% end %>
    </div>
</div>
    

<% @posts.each do |post| %>
    
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">             
                <h4><%= link_to post.title, post_path(id: post.id), :class => "title_link" %></h4>
                
                <div class="embed-responsive embed-responsive-16by9"><%= embed(post.url) %></div>
                
                <h6><%= "Artist: " + post.artist %></h6>
                
                <h6>Posted by: <%= post.user.name %>&nbsp;&nbsp;<small><%= post.updated_at%></small></h6>
            </div>
            <div class="panel-body">
                <p><%= post.body %></p>

            </div>
            <div class="panel-footer">
                <% if current_user
                    add = "/Add"
                else
                    add = ""
                end %>

                <%= link_to "View#{add} Comments", post_path(id: post.id) %>
            </div>
        </div>
    </div>
    <% end %>
</div>
