

<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>




<div class="feed_container">
<div class="feed_row">
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      
    <div class="feed_post">
                        
         <div class = "post-photo-tag">
              <%=image_tag("http://ze-media.tn/wp-content/uploads/2014/12/facebook-mbarek-boukhari-zemedia.jpg", :width => 21, :height => 21, :crop => :fill, class: "user-post-photo_tag") %><%= "  " %><%= link_to post.user.name, user_profile_path(post.user_id), :class => "post-photo-tag" %>
         </div>              
          
         <div class="embed-responsive embed-responsive-16by9"><%= embed(post.url) %>
         </div>



        <h4><%= link_to post.title, post_path(id: post.id), :class => "title-link" %></h4>
          
        <div class = "artist-link"><%= post.artist %>
      
          </div>

                   

                
                <hr class = "line-break">

                    
                
                
            <div class = "comments-tag-on-feed">
               <% if current_user
                    add = "/Add"
                else
                    add = ""
                end %>

                <%= link_to "View#{add} Comments", post_path(id: post.id), :class => "comment-link-color-change" %><%= "  (" + post.comments.count.to_s + ")"%>
            </div>

            <div class= "time-ago-tag"><span class="glyphicon glyphicon-time" aria-hidden="false"></span><%= "  " + (remove_unwanted_words distance_of_time_in_words(Time.now, post.updated_at)) + " ago"  %>
            </div>
        
        </div>
        
    <% end %>
    </div>
</div>    
<% else %>
    <h2>No Posts Exist</h2>
<% end %>



