
<div class = "video-container-create">
<h1 class="jumbotron">Create New Post</h1>
<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>

<%= form_for(@posts) do |f| %>

    <div class="form-group">
    <%= f.label 'Song title' %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label :artist %>
    <%= f.text_field :artist, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label 'Paste YouTube Url' %>
    <%= f.url_field :url, class: "form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
    </div>

    <%= f.submit "Post", class: "submit-button-create" %>

<% end %>

</div>