

<%= link_to "Return to All Posts",  posts_path, :class => "title_link" %> <%= link_to 'Destroy this post', @post, :class => "title_link_right", method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>

<div class="row">
<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><%= @post.title %></h3>
                
            </div>
            <div class="panel-body">
                <h4><%= @post.body %></h4>
                <p>Posted by: <%= @post.user.name %>&nbsp;&nbsp;<small><%= @post.updated_at%></small></p>
            </div>
            <div class="panel-footer">
                <h4>Comments</h4>
                <% if @post.comments.count > 0 %>
                    <% @post.comments.each do |comment| %>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%= comment.body %></p>
                                <h5><%= comment.user.name %>&nbsp;&nbsp;<small><%= comment.updated_at %></small></h5>
                            </div>
                        </div>
                    <% end %>
                <% else %>
            <p>No Comments Yet</p>
        <% end %>
        
        </div>
    </div>
</div>
    <div class="col-xs-8">
        <div class="embed-container"><%= embed(@post.url) %>
        </div>
    </div>
</div>

<hr>
<% if current_user %>
    <%= form_for @comment, url: create_comment_path do |f| %>
        <%= hidden_field_tag :post_id, @post.id %>
        <div class="form-group">
            <%= f.label :body, "Comment" %>
            <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit "Add Comment", class: "btn btn-default" %>


    <% end %>
<% end %>
